@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style-type: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
main{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigation{
    padding-top: 80px;
}
.heading-part{
    font-weight: 700;
    font-size: 24px;
    color:#3A3A3A;
    line-height: 36px;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.menu{
    display: flex;
}
.menu li {
    list-style: none;
    margin: 10px;
}
.menu li a{
    color:#3A3A3A;
    font-weight: 600;
    padding: 15px 10px;
}
.banner{
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px
}
.heading-tag{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    color: #3A3A3A;
}
.all-para{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 20px 0;
    padding: 10px 0px;
    color: #3A3A3A;
}
.button-icon{
    position: absolute;
    margin-top: 380px;
    margin-left: 130px;
    transform: translate(-50%,-50%);
    
}
.button-icon a{
    font-size: 1.6em;
    color: #ffffff;
    width: 165px;
    background: #E02C6D;
    padding: 10px;
    border-radius: 100px;
    box-shadow: 0 0 25px rgba(17, 17, 17, 0.459);
}
.pree-button{
    margin-left: 50px;
    animation: load 1.5s ease-in-out infinite;
}
.button-icon a:hover{
    background: #ffffff;
    color: black;
    transition: 0 .3s;
}
@keyframes load{
    0%,100%{
        margin-left: 60px;
    }
    50%{
        margin-left: 10px;
    }
}
.banner-img-part{
    width: 500px;
    height: 450px;
    
}
.banner-right{
    position: relative;

    
}
#circle img{
    width: 100%;
    
    
}
#camera img{
    width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
}
.logos-part{
    margin-top: 180px;
    justify-items: center;
    border-top:  5px solid rgba(39, 39, 39, 0.164);
    border-bottom:  5px solid rgba(39, 39, 39, 0.164);
    
}
.logos{
    display: flex;
    width: 1150px;
    height: 120px;
    align-items: center;
    
    
}
.logos-img{
    margin: 0 20px;
    width: 90px;
    height: 25px;
    margin-left: 40px;
    
    
}
/* collection css */
.all-collection{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 24px;
}
.section-title{
    color:#3A3A3A;
    font-size: 28px;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px 0;
}
.collection .collection-banner img{
    width: 300px;
    height: 290px;
    box-shadow: #3A3A3A;
}
.collection-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.collection{
    border-radius: 5px;
    margin-top:  30px;
    box-shadow: 5px 5px 20px 10px gray;
    
}
.collection-title {
    padding-left: 10px;

}
#para-color{
    color:#3A3A3A;
    padding-left: 10px;
    padding-bottom: 10px;

}
.fa-star.filled{
    color: #ffc014;
    padding-left: 10px;
}.
.fa-star.empty{
    color: #3A3A3A;
}
.button-see{
    outline: 0;
    border: 0;
    padding: 0;
    color: #E02C6D;
    background: none;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 830px; 
    cursor: pointer;  
}
#arrow{
    color: #E02C6D;
    padding-left: 5px;
}
/* extra part css */
.influ-market{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.marketer img{
    width: 80%;
}
.market-item{
    padding-top: 180px;
}
.item-para{
    color: #0a0826;
    font-size: 45px;
    font-weight: 700;
}
.color-change{
    color: #E02C6D;
    font-size: 35px;
    padding-right: 10px;
    padding-bottom: 15px;
}
.paragraph{
    font-size: 18px;
    line-height: 28px;
    padding-right: 50px;
}
/* footer css */
.section-heading{
 background: #0a0826;
 text-align: center;
 margin-top: 80px;
color: #ffffff;

height: 240px;
}
.head-name{
    padding-top: 40px;
}
.head-para{
    padding-top: 10px;
    font-size: 12px;
}
.social-icon{
    padding-top: 20px;
    
}
#social-item{
    margin: 0 10px;
    font-size: 32px;
    padding-top: 20px;
}